Temperature_CPU_et_Paris.json
[{"id":"d34e70f5.6df24","type":"tab","label":"Temperature avec le Dashboard","disabled":false,"info":""},{"id":"7bbc7d82.264ae4","type":"openweathermap","z":"d34e70f5.6df24","name":"information Paris","wtype":"current","lon":"","lat":"","city":"Paris","country":"France","language":"fr","x":270,"y":220,"wires":[["e38286ea.e873c8","4d16198a.5a12a8","d459cd47.cbce9","8b7a7808.33f6b8"]]},{"id":"6ad85e9.6eed9a","type":"inject","z":"d34e70f5.6df24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":220,"wires":[["7bbc7d82.264ae4"]]},{"id":"e38286ea.e873c8","type":"function","z":"d34e70f5.6df24","name":"Temperature","func":"msg.payload = Number(msg.payload.tempc);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":160,"wires":[["29e88a0e.42c106"]]},{"id":"4d16198a.5a12a8","type":"function","z":"d34e70f5.6df24","name":"Humidite","func":"msg.payload = Number(msg.payload.humidity);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":220,"wires":[["9ec1b25b.be757"]]},{"id":"d459cd47.cbce9","type":"function","z":"d34e70f5.6df24","name":"Pression","func":"msg.payload = Number(msg.payload.pressure);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["d63f92f0.9b0af"]]},{"id":"29e88a0e.42c106","type":"ui_gauge","z":"d34e70f5.6df24","name":"","group":"3963af63.3bfcb","order":1,"width":0,"height":0,"gtype":"gage","title":"Variation Temperature à Paris","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":160,"wires":[]},{"id":"42a8b329.656f4c","type":"ui_audio","z":"d34e70f5.6df24","name":"condition climat ","group":"3963af63.3bfcb","voice":"com.apple.speech.synthesis.voice.thomas","always":true,"x":780,"y":100,"wires":[]},{"id":"8b7a7808.33f6b8","type":"function","z":"d34e70f5.6df24","name":"climat","func":"msg.payload = Number(msg.payload.tempc);\nif(msg.payload < 10)\nmsg.payload = \"Attention il fait un peu froid aujourd'hui\";\nelse if((msg.payload >= 10)&&(msg.payload <= 30))\nmsg.payload = \"pas mal aujourd'hui, il fait beau temps\";\nelse\nmsg.payload = \"Attention il fait un peu chaud dehors\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":100,"wires":[["44c6d539.dbdecc"]]},{"id":"d63f92f0.9b0af","type":"ui_chart","z":"d34e70f5.6df24","name":"","group":"3963af63.3bfcb","order":3,"width":0,"height":0,"label":"Variation de la Pression atmospherique à Paris","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":740,"y":280,"wires":[[]]},{"id":"9ec1b25b.be757","type":"ui_chart","z":"d34e70f5.6df24","name":"","group":"3963af63.3bfcb","order":2,"width":0,"height":0,"label":"Humidite à Paris","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":720,"y":220,"wires":[[]]},{"id":"44c6d539.dbdecc","type":"trigger","z":"d34e70f5.6df24","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"15","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":100,"wires":[["42a8b329.656f4c"]]},{"id":"27f51dd2.da81ea","type":"exec","z":"d34e70f5.6df24","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temperature CPU","x":290,"y":540,"wires":[["3c1c8d36.0c879a"],[],[]]},{"id":"f7b26c18.4e8b88","type":"inject","z":"d34e70f5.6df24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["27f51dd2.da81ea"]]},{"id":"c5ed4606.a2d7e8","type":"debug","z":"d34e70f5.6df24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":520,"wires":[]},{"id":"3c1c8d36.0c879a","type":"function","z":"d34e70f5.6df24","name":"","func":"msg.payload = Number(msg.payload)/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":520,"wires":[["c5ed4606.a2d7e8","69b784aa.13f8b4","f0eb555b.565bb8","98565fa6.073e48"]]},{"id":"f0eb555b.565bb8","type":"ui_gauge","z":"d34e70f5.6df24","name":"Temperature CPU","group":"e2f3c337.a79ad8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature CPU Raspberry","label":"°c","format":"{{value}}","min":0,"max":"100","colors":["#1db4bf","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":440,"wires":[]},{"id":"69b784aa.13f8b4","type":"ui_chart","z":"d34e70f5.6df24","name":"Visualisation Temp CPU","group":"e2f3c337.a79ad8","order":2,"width":0,"height":0,"label":"Graphe Temperature CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":480,"wires":[[]]},{"id":"4cae5573.b4ff4c","type":"ui_audio","z":"d34e70f5.6df24","name":"","group":"e2f3c337.a79ad8","voice":"com.apple.speech.synthesis.voice.thomas","always":"","x":860,"y":600,"wires":[]},{"id":"98565fa6.073e48","type":"function","z":"d34e70f5.6df24","name":"","func":"if(msg.payload > 50)\nmsg.payload = \"ventiler votre raspberry\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":560,"wires":[["70fbe87d.95d718"]]},{"id":"70fbe87d.95d718","type":"trigger","z":"d34e70f5.6df24","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":600,"wires":[["4cae5573.b4ff4c"]]},{"id":"3963af63.3bfcb","type":"ui_group","name":"Climat Paris","tab":"f6226772.49aa08","order":2,"disp":false,"width":12,"collapse":false,"className":""},{"id":"e2f3c337.a79ad8","type":"ui_group","name":"Information de la Temperature du CPU ","tab":"f6226772.49aa08","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"f6226772.49aa08","type":"ui_tab","name":"INFORMATION TEMPERATURE","icon":"dashboard","disabled":false,"hidden":false}]